@charset "UTF-8";

:root{
    --cor0: #f0b800c0;
    --cor1: black;
    --cor2: darkred;
    --cor3: red; 
    
}

.linkexterno{
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
}
.linkexterno::after{
    content: '\00A0\1F517';
}
.linkexterno:hover{
    color: #f0b80054;
}
.linkexterno:visited{
    color: #f85e05;
}
.linkexterno:active{
    color: var(--cor2);
}
.yuno{
    color: darkgreen;
}
.asta{
    color: var(--cor2);
}
@font-face {
    font-family: 'blood';
    src: url('../fontes/Blood_n\ Guts.ttf') format('truetype');
    
}
body{
    background-image: linear-gradient(to right, rgb(109, 3, 3), black);
    margin: 0px;
}


nav{
    background-color: var(--cor1);
    padding: 20px 0px;
    text-align: center;
}
nav > a{
    
    
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    ;
}
nav > a:hover{
    text-shadow: 2px 2px 10px rgb(139, 0, 0);
    text-decoration-line: underline;
    text-decoration-color: var(--cor2);
    border-radius: 5px;
    transition: 0.6s;
}
.titulo{
    text-align: center;
    color: white;
    font-family: blood, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
}

div.home{
    background-color: rgb(0, 0, 0);
    margin: 0px 40px 0px 40px;
    box-shadow: 5px 5px 10px rgb(90, 12, 2);

}
div.home > img{
    display: block;
    margin: auto;
    padding: 10px;
    width: 60%;
}
div.home > p{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding: 20px;
    color: white;
}


footer{
    background-color: black;
    
    
}
footer > p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
    font-size: 13px;
}
footer > p::before{
    content: '© ';
    
}

section#personagens{
    padding: 20px;
    background-color: var(--cor1);
}

article.personagens-yuno > img{
    width: 450px;
    margin: auto;
}
article.personagens-yuno > h2{
    color: white;
    font-family: blood, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: 5px 5px 10px green;
}